/PhpStorm-e54e1b67-6da5-4bcc-8326-231eadeb62b4.php
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/.idea
/PayPal.log
/webhook.txt
*.swp
*.vim
/.vagrant
cscope*
tags

Makefile
Makefile.in
aclocal.m4
acinclude.m4
autom4te.cache
/aclocal/libtool.m4
/aclocal/lt*.m4
/autoscan.log
/autoscan-*.log
/config.*
/configure
/configure.lineno
/configure.scan
/install-sh
/ltmain.sh
/missing

composer.phar
npm-debug.log

