/*-----------------------------
		Responsive style
-----------------------------*/


/*	MIN WIDTH 992PX & MAX WIDTH 1199PX	*/
@media (min-width: 992px) and (max-width: 1199px) {
	.single-key-feature {
		padding: 0 35px;
	}

	.video-section-text {
		padding-right: 0;
	}

	.image-container-2 > img {
		margin-bottom: -175px;
	}

	.single-service {
		padding: 40px 15px 10px;
	}
}

/*	MAX WIDTH 991PX	*/
@media only screen and (max-width: 991px) {
	.navbar {
		padding: 0 0 12px;
	}

	.scroll-fixed-nav {
		padding: 0 0 12px;
	}

	.navbar-fixed-top .navbar-header {
		width: 100%;
		position: relative;
		text-align: center;
		margin-bottom: 8px;
	}

	.navbar-brand {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		justify-content: center;
		-webkit-justify-content: center;
		flex-direction: row;
		-webkit-flex-direction: row;
	}

	.navbar-fixed-top .navbar-header a {
		float: none !important;
	}

	.navbar-fixed-top .navbar-nav {
		float: none !important;
		text-align: center;
		display: table;
		margin: auto;
	}

	.intro-text-1,.intro-text-2,.intro-text-3,.intro-text-4,.intro-text-7 {
		margin: 300px 0 200px;
	}

	.sign-up-form-3 > form > input[type="email"] {
		margin-right: 0;
	}

	.header-section-2 {
		background-position: center left;
	}

	.header-section-4 {
		background-position: center right;
	}

	.intro-text-2,.intro-text-4 {
		text-align: center;
	}

	.sign-up-form-container-5 {
		padding: 205px 0 100px;
	}

	.credit-card-container {
		display: none;
	}

	.breadcrumb-section {
		margin-top: 121px;
	}
	
	.key-features-section {
		padding: 80px 0 0;
	}

	.key-features-section .col-md-4 {
		border-right: none;
	}

	.single-key-feature {
		margin-bottom: 70px;
	}

	.video-section .v-align-children,.image-container-section-2 .v-align-children {
		display: block !important;
	}

	.video-section-text,.image-container-2-text {
		padding: 0;
		margin-bottom: 100px;
		text-align: center;
	}

	.image-container-section-1 {
		padding-top: 10%;
	}

	.image-container-1 {
		width: 100%;
		height: 50%;
		background-position: center right;
	}
	
	.image-container-3 {
		width: 100%;
		height: 50%;
		background-position: center right;
	}

	.image-container-4 {
		width: 100%;
		height: 50%;
		background-position: center right;
	}
	
	
	.image-container-1-text {
		padding: 60px 0 120px;
		margin-bottom: 0;
		text-align: center;
	}

	.image-container-section-2 {
		padding-top: 90px;
	}

	.image-container-2 > img {
		margin-bottom: 0;
	}

	.single-service {
		margin-bottom: 30px;
	}

	.team-section .col-md-3:nth-child(1),.team-section .col-md-3:nth-child(2) {
		margin-bottom: 50px;
		border-bottom: 1px solid #d4dee1;
	}

	.single-price {
		margin-bottom: 30px;
	}

	.single-question {
		padding-right: 50px;
	}

	.clients-section .row .col-md-3:nth-child(1),.clients-section .row .col-md-3:nth-child(3),.clients-section .row:last-child .col-md-3:nth-child(1),.clients-section .row:last-child .col-md-3:nth-child(3) {
		border-right: 1px solid #eef1f2;
	}

	.clients-section .row:first-child .col-md-3:nth-child(n),.clients-section .row:last-child .col-md-3:nth-child(-n+2) {
		border-bottom: 1px solid #eef1f2;
	}

	.clients-section .row .col-md-3 {
		border-right: none;
		border-bottom: none;
	}

	.subscribe-widget {
		text-align: center;
		max-width: 300px;
		margin: 0 auto;
		padding-bottom: 70px;
	}
}

/*	MAX WIDTH 767PX	*/
@media only screen and (max-width: 767px) {
	.navbar {
		padding: 10px 0 0;
	}

	.navbar-brand {
		margin-left: 93px;
	}

	.navbar-nav li:first-child {
		margin-top: 15px;
	}

	#featured-sign-up {
		margin: 0 0 20px;
	}

	.intro-text-1,.intro-text-2,.intro-text-3,.intro-text-4,.intro-text-7 {
		margin: 250px 0 200px;
	}

	.sign-up-form-container-5 {
		padding: 120px 70px 100px;
	}

	.breadcrumb-section {
		margin-top: 69px;
	}
	
	.video-section-text,.image-container-1-text,.image-container-2-text {
		padding-left: 40px;
		padding-right: 40px;
	}

	.single-feature {
		padding: 0 40px;
	}

	.single-service,.single-member,.single-price,.single-question {
		margin-left: 50px;
		margin-right: 50px;
	}

	.team-section .col-md-3:nth-child(3) {
		border-bottom: 1px solid #d4dee1;
	}

	.clients-section .row:last-child .col-md-3:nth-child(n) {
		border-bottom: 1px solid #eef1f2;
	}

	.clients-section .row:last-child .col-md-3:last-child {
		border-bottom: none;
	}

	.footer-section .col-md-3,.footer-section .col-md-4 {
		text-align: center;
		border-bottom: 1px solid #404855;
	}

	.footer-section .col-md-4:last-child {
		border-bottom: none;
	}

	.single-widget {
		margin: 40px 0;
	}

	.subscribe-widget {
		margin: auto !important;
		padding-bottom: 50px;
	}
}

/*	MAX WIDTH 640PX	*/
@media only screen and (max-width: 640px) {
	.navbar-fixed-top .navbar-header a {
		float: left !important;
		margin-left: 0;
	}

	.intro-text-1,.intro-text-2,.intro-text-3,.intro-text-4,.intro-text-7 {
		margin: 210px 0 140px;
	}

	.intro-text-1 h1,.intro-text-2 h1,.intro-text-3 h1,.intro-text-4 h1,.intro-text-6 h1,.intro-text-7 h1 {
		font-size: 50px;
	}

	.sign-up-form-3 > form > input {
		padding: 15px 30px;
		width: 100%;
		max-width: 100%;
		margin-right: 15px;
		display: inline-block;
	}

	.intro-buttons-7 a {
		padding: 10px 35px;
	}

	.header-section-4 {
		background-position: center center;
	}

	.sign-up-form-container-5 {
		padding: 120px 0 100px;
	}

	.image-container-1 {
		height: 35%;
	}
	
	.image-container-3 {
		height: 35%;
	}
	
	.image-container-4 {
		height: 35%;
	}

.image-container-5 {
		width: 100%;
		height: auto;
	}

	.testimonial-thumbs {
		width: 400px;
	}
}