.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#fileDetails .wrapContent{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#fileDetails .content{
	width: 60%;
	text-align: center;
	margin-left: 5px;
}

#fileDetails .remove-file{
	color: rgb(192, 44, 15);
	cursor: pointer;
}

#ui-datepicker-div {
	z-index: 1151 !important;
}
.datetimepicker{
	z-index:1151 !important;
}

#advanceFilterForm {

}

#advanceFilterForm .col-sm-1, 
#advanceFilterForm .col-sm-2, 
#advanceFilterForm .col-sm-3, 
#advanceFilterForm .col-sm-4, 
#advanceFilterForm .col-sm-5, 
#advanceFilterForm .col-sm-6, 
#advanceFilterForm .col-sm-7, 
#advanceFilterForm .col-sm-8, 
#advanceFilterForm .col-sm-9, 
#advanceFilterForm .col-sm-10, 
#advanceFilterForm .col-sm-11, 
#advanceFilterForm .col-sm-12, 
#advanceFilterForm .col-md-1, 
#advanceFilterForm .col-md-2, 
#advanceFilterForm .col-md-3, 
#advanceFilterForm .col-md-4, 
#advanceFilterForm .col-md-5, 
#advanceFilterForm .col-md-6, 
#advanceFilterForm .col-md-7, 
#advanceFilterForm .col-md-8, 
#advanceFilterForm .col-md-9, 
#advanceFilterForm .col-md-10, 
#advanceFilterForm .col-md-11, 
#advanceFilterForm .col-md-12 
{
	padding: 0px 2px;
}

#advanceFilterForm .control-label 
{
	padding-top: 7px;
}
